nav.navbar.navbar-static-top.navbar-light.bg-faded
		ul.nav.navbar-nav
			li.nav-item
				a.nav-link.active 首页
			li.nav-item
				a.nav-link 页面一
			li.nav-item
				a.nav-link 页面二
			li.nav-item
				a.nav-link 页面三
			li.nav-item
				a.nav-link 页面四
			li.nav-item
				a.nav-link 页面五
